@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #74c69d;
  width: 100%;
  height: 80px;
}

a.logo {
  font-weight: bolder;
  font-size: 40px;
  line-height: 50px;
  margin-left: 2rem;
}

header .logo img {
  height: 30px;
  width: 30px;
  padding-right: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
}

header.logo img {
  margin-right: 10px;
}

nav ul {
  margin-right: 40px;
}

nav ul li {
  display: inline;
  line-height: 25px;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li a:hover {
  color: darkgreen;
}

.checkbtn {
  float: right;
  line-height: 80px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
  cursor: pointer;
}

.main {
  background-color: #74c69d;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-evenly;
}

.main .about h6,
.about h4,
.about p {
  color: #ffffff;
}

.main .about h6 {
  font-size: 15px;
  font-weight: 200px;
  word-wrap: break-word;
}

.main .about h4 {
  font-size: 40px;
  font-weight: bold;
  line-height: 55px;
  max-width: 400px;
  word-wrap: break-word;
}

.main .about p {
  font-size: 15px;
  font-weight: lighter;
  max-width: 400px;
  letter-spacing: 2px;
  line-height: 20px;
  word-wrap: break-word;
}

.partners {
  text-align: center;
  margin: 50px;
}

h6 {
  color: green;
  line-height: 20px;
  letter-spacing: 5px;
  font-size: 16px;
}

h4 {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 4px;
  word-wrap: break-word;
}

p {
  font-weight: lighter;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.partners ul {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  width: 150px;
  border: black;
  border-radius: 3px;
  margin-top: 30px;
}

.learn,
.learn2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

.learn .learn-more,
.learn2 .learn-more {
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.learn h4,
.learn2 h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  word-wrap: break-word;
}

.learn p,
.learn2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  word-wrap: break-word;
  color: #21252980;
}

.team {
  text-align: center;
  margin: 30px;
  padding: 20px;
}

.cards {
  width: 100%;
  display: flex;
  margin-top: 25px;
  padding: 5px;
  justify-content: space-evenly;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card .container h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
}

.card .container p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #212529bf;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #74c69d;
  text-align: center;
  height: 80px;
  align-items: center;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 25px;
}

footer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
}

/* portfolio.html */

.potfolio {
  text-align: center;
  margin: 20px;
}

.potfolio .template {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.potfolio .template img {
  margin: 14px;
  object-fit: fill;
  width: 100%;
  height: 335px;
}

/* service.html */

.service {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.pricing {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.pricing .plan {
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pricing .plan:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pricing .plan h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0px;
}

.pricing .plan h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0px;
}

.pricing .plan span,
.pricing .plan p {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  color: #21252980;
}

.pricing .plan ul {
  margin: 20px;
}

.pricing .plan ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}

.pricing .plan ul li i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #74c69d;
}

/* contact-us.html */

.contact {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.contact .details {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  text-align: left;
  align-items: center;
}

.contact .details .form label {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
}

.contact .details .form {
  width: 50%;
  padding: 10px;
}
.contact .details .form textarea {
  margin: 1rem 0;
  border-radius: 4px;
  border: 1px solid black;
}

.contact .details .form input {
  width: 400px;
  height: 40px;
  margin: 1rem 0;
  border-radius: 4px;
  border: 1px solid black;
  word-wrap: break-word;
}
.contact .map img {
  width: 100%;
  height: auto;
}

.details button {
  background-color: black;
  color: white;
  padding: 10px;
  width: 400px;
  font-size: 18px;
  line-height: 20px;
  border: black;
  border-radius: 3px;
  margin-top: 20px;
}
